[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[diff]
  renames = copy
[user]
  name = Lin Jen-Shin
  email = godfat@godfat.org
[push]
  default = tracking
[merge]
  log = true

# https://git.wiki.kernel.org/index.php/Aliases
[alias]
  master = checkout master
  stable = checkout stable
     dev = checkout dev

  st = status
  co = checkout

  logo = log ORIG_HEAD.. --stat
