[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[diff]
  renames = copy
[user]
  name = Lin Jen-Shin
  email = godfat@godfat.org
[push]
  default = tracking
[merge]
  log = true

# https://git.wiki.kernel.org/index.php/Aliases
[alias]
  master = checkout master
  stable = checkout stable
     dev = checkout dev

  st = status
  co = checkout

  logo = log ORIG_HEAD.. --stat

  sync = !git branch -r | egrep '^[^>]+$' | sed -E 's/(.*)\\/(.*)/git branch \\2 --track\\1\\/\\2/' | ruby -e 'puts $stdin.read.split(\"\n\").map{ |s| send(:`, s) }.reject(&:empty?)' 2> /dev/null
