[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[diff]
  renames = copy
[user]
  name = Lin Jen-Shin
  email = godfat@godfat.org
[push]
  default = tracking
[merge]
  log = true

# https://git.wiki.kernel.org/index.php/Aliases
[alias]
  master = checkout master
  stable = checkout stable
     dev = checkout dev

  st = status
  co = checkout

  logo = log ORIG_HEAD.. --stat

  sync = !git fetch && git coal && git merl

  coal = !git branch -r | egrep '^[^>]+$' | sed -E 's/(.+)\\/(.+)/git branch \\2 --track\\1\\/\\2/' | ruby -e 'puts $stdin.read.split(\"\n\").map{ |s| send(:`, s) }.reject(&:empty?)' 2> /dev/null

  merl = !git branch | egrep '^[^*]+$' | sed -E 's/  //' | ruby -e 'puts ($stdin.read.split(\"\n\") << send(:`, \"git symbolic-ref HEAD\").sub(\"refs/heads/\", \"\").strip).map{ |s| [s, send(:`, \"git config branch.%s.remote\" % [s]).strip] }.reject{ |s| s.last.empty? }.map{ |(branch, remote)| send(:`, \"git checkout %s\\x3b git merge %s/%s --ff-only\" % [branch, remote, branch]) }.reject(&:empty?)' 2> /dev/null
