/*
https://github.com/stonecrusher/simpleMenuWizard
*/

#tabbrowser-tabs .tab-close-button, /* Close tab button */
notification[value="keyword-uri-fixup"] { display: none !important; }

/* Tab context menu */
#context_moveTabToNewGroup,
#context_reloadTab,
#context_toggleMuteTab,
#context_shareTabURL,
#context_selectAllTabs,
#context_bookmarkTab,
#context_moveTabOptions,
#context_openTabInWindow,
#context_sendTabToDevice,
#context_reopenInContainer,
#context_closeDuplicateTabs,
#context_closeTabOptions,
#context_closeTabsToTheEnd,
#context_closeOtherTabs,
.share-tab-url-item,
#toolbar-context-reloadAllTabs,
#toolbar-context-bookmarkAllTabs,
/* Page context menu */
#context-reload,
#context-bookmarkpage,
#context-pocket,
#context-sep-sendpagetodevice,
#context-sendpagetodevice,
/* Link context menu */
#context-openlinkinusercontext-menu,
#context-openlink,
#context-bookmarklink,
#context-savelinktopocket,
#context-sep-sendlinktodevice,
#context-sendlinktodevice,
/* Select context menu */
#context-openlinkincurrent
{
  display: none !important;
  visibility: collapse !important;
}

#tabContextMenu menuseparator { display: none !important; }

#context_openANewTab { order: 0 }
#context_duplicateTab { order: 1 }
#context_pinTab { order: 2 }
#context_unpinTab { order: 3 }
menuitem[label="Unload Tab"] { order: 4 }
#context_closeTab { order: 5 }
#context_undoCloseTab { order: 6 }
menu[label="Undo Close Tab"] { order: 7 }

.tabbrowser-tab[pending="true"] {
  background-color: gray !important;
  color: crimson !important;
}

.tabbrowser-tab[unread="true"] {
  color: crimson !important;
}
