/*
https://github.com/stonecrusher/simpleMenuWizard
*/

#tabbrowser-tabs .tab-close-button, /* Close tab button */
/* Tab context menu */
#context_reloadTab,
#context_toggleMuteTab,
#context_toggleMuteTab + menuseparator,
#context_reopenInContainer,
#context_openTabInWindow,
#context_sendTabToDevice_separator,
#context_sendTabToDevice,
#context_sendTabToDevice + menuseparator,
#context_reloadAllTabs,
#context_selectAllTabs,
#context_bookmarkAllTabs,
#context_bookmarkTab,
#context_moveTabOptions,
#context_closeTabsToTheEnd,
#context_closeOtherTabs,
#context_closeOtherTabs + menuseparator,
#context_closeSelectedTabs + menuseparator,
/* Tab bar menu */
#toolbar-context-reloadAllTabs,
#toolbar-context-bookmarkAllTabs,
/* Page context menu */
#context-reload,
#context-bookmarkpage,
#context-pocket,
#context-sep-sendpagetodevice,
#context-sendpagetodevice,
/* Link context menu */
#context-openlinkinusercontext-menu,
#context-openlink,
#context-bookmarklink,
#context-savelinktopocket,
#context-sep-sendlinktodevice,
#context-sendlinktodevice,
/* Select context menu */
#context-openlinkincurrent
{
  display: none !important;
  visibility: collapse !important;
}

menuitem[label="New Tab"] { -moz-box-ordinal-group: 0 }
#context_duplicateTab { -moz-box-ordinal-group: 1 }
#context_pinTab { -moz-box-ordinal-group: 2 }
#context_unpinTab { -moz-box-ordinal-group: 3 }
#context_undoCloseTab { -moz-box-ordinal-group: 4 }
menu[label="Undo Close Tab"] { -moz-box-ordinal-group: 5 }
menuitem[label="Unload Tab"] { -moz-box-ordinal-group: 6 }
#context_closeTab { -moz-box-ordinal-group: 7 }

.tabbrowser-tab[pending="true"] {
  background-color: gray !important;
  color: crimson !important;
}

.tabbrowser-tab[unread="true"] {
  color: crimson !important;
}
