
body, html, a, div, p, ol, ul, li, h1, h2, h3, h4, h5, h6, form, input, object, embed, blockquote, strong, td {
  font-family: "DejaVu Sans", "儷黑 Pro", "LiHei Pro", sans-serif;
  line-height: 1.4em !important;
}

pre{
  font-family: "DejaVu Sans Mono", monospace !important;
  font-size: 1em !important;
}
